#resultwindow{
	width:      800px;
	height:     600px;
	border: 	  1px solid gray;
	text-align: center;
	background-image: url(../image/win_back.png);
	background-size: 800px 600px;
}

#resultwindow > h1{
	margin-top: 100px;
	font-size: 32pt;
	color : #000;
}

#resultwindow > form > button{
	position : absolute;
	left : 315px;
	top: 400px;
	width:      200px;
	height:     60px;
	font-size:  16pt;
	margin-bottom: 10px;
}

#resultImg{
	position:absolute;
	left :295px;
}
