#titlewindow{
	width:      800px;
	height:     600px;
	border: 	  1px solid gray;
	text-align: center;
	background-image: url(../image/title.png);
	background-size: 800px 600px;
}

#titlewindow > h1{
	margin-top: 100px;
	font-size: 32pt;
	color : #ffffff;
}

#titlewindow > form > button{
	margin-top: 150px;
	width:      200px;
	height:     60px;
	font-size:  16pt;
	margin-bottom: 10px;
}
